html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


h1{
    align-content:baseline;
    text-align:center;
}
#addButton, .btn-back {
    display: inline;
    margin-bottom: 20px;
    margin-left: 130px;
    background-color: #065b09;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: 20px auto;
    border:2px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}



.Edit {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.Delete {
    background-color: #e60d0d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



 .Previous-button {
    display: inline;
    margin-bottom: 20px;
    margin:5PX;
    background-color: #5b4606;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.Next-button{
    display: inline;
    margin-bottom: 20px;
    margin: 5PX;
    background-color: #5b4606;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.pagen {
    display: inline;
    margin-bottom: 20px;
    margin: 5PX;
    background-color: #5b4606;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


/********************************************addform************************************/
/* Style for the form container */

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}



/* Style for form fields */
.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        font-weight: bold;
    }

    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form-group textarea {
        resize: vertical;
    }

/* Style for the submit button */
.submit-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




/**********************************update*************************/

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    max-width: 400px;
}

/* Styles for the form */
.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        font-weight: bold;
    }

    .form-group input[type="text"],
    .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form-group textarea {
        resize: vertical;
    }

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


.Updatebtn-submit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


.Updatebtn-Close {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff2600ce;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}